<% provide(:title, 'О сайте') %>
<div class="center hero-unit">
  <h1>Информация о сайте</h1>
  <h2>
    Сайт создан в июле 2017 г. Кругликом Михаилом. Он является шеф-тренером
    официального дилера Mazda в РБ. Цель сайта проверка усвоения информации
    сотрудниками центра
  </h2>
</div>

