<% provide(:title, 'Контакты') %>
<div class="center hero-unit">
  <h1>Наши контакты</h1>
  <h2>
    Шеф-тренер: Круглик Михаил Леонидович <br>
    тел: +375291611514 <br>
    email: mihail_kruglik@atlantm.by
  </h2>
</div>

